{% extends 'user_base.html' %}



{% block content %}

<form action="{% url 'resume_edit' %}" method="post">
    {% csrf_token %}
    <main class="container mt-3 pb-5">
        <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
            <div class="card-body px-3 pb-4">
                <p><h2>Мое резюме</h2> </p>

                {% for field in form %}

                   <div class="form-group col-md-6 mb-0">
                       {{ field.label }}
                       {{ field }}
                   </div>

                 {% endfor %}

                <button type="submit" class="btn btn-primary">Сохранить</button>

            </div>
        </section>
    </main>
</form>
{% endblock %}
