

<div class="collapse navbar-collapse justify-content-between" id="navbarNav">

    <ul class="navbar-nav col-10">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'all_vacancies_list' %}">Вакансии</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Компании</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">О проекте</a>
        </li>
    </ul>

    <ul class="navbar-nav col-2 justify-content-end">
        <li class="nav-item active">

            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="nav-link font-weight-bold">Выход ({{ user }})</a>
            {% else %}
            <a href="{% url 'login' %}" class="nav-link font-weight-bold">Вход</a>
            {% endif %}

        </li>
    </ul>

</div>
