{% extends 'base.html' %}

{% block company %}
<section class="pl-3">
          <a href="#"><img src="{{ logo.url }}" width="130" height="80" alt=""></a>
          <div class="d-flex align-items-baseline align-content-baseline">
            <h1 class="h2 mt-4 font-weight-bold">{{ vacancies.title }}</h1>
            <p class="m-0 pl-3">{{ vacancies.salary_min }} – {{ vacancies.salary_max }} Р</p>
          </div>
          <p class="mt-2">{{ vacancies.skills }}</p>
          <p class="text-muted mb-4">{{ vacancies.company }} ({{ count }} человек), {{ loc }}</p>
          <div style="line-height: 1.8;">
            <p>{{ vacancies.description }}</p>
          </div>

        </section>
{% endblock %}
